
ardu_spi_slave/.vscode/c_cpp_properties.json
ardu_spi_slave/.vscode/arduino.json
node_spi_master/.vscode/arduino.json
node_spi_master/.vscode/c_cpp_properties.json
node_spi_master/.vscode/settings.json
